<div>
    <h4>Task description : </h4>
    <p>Using the Angular 2+ / JS framework, create SPA that should contain information based on your resume.</p>
    <p>SPA should consist of several sections.</p>
    <p>In addition to the <a routerLink="/resume">text description</a>, the data should be presented in the form of
        various <a routerLink="charts">diagrams</a> (you can
        libraries, for example, charts.js)</p>
    <p>When building, you must use services, directives.</p>
    <hr />
    <p>
        Service (DataService) - provides all the data for resumes and charts.

    </p>
    <p>Directive (HoverDirective) - changes the background color of the element when the mouse enters the component, and
        returns it to the default color when the mouse leaves.</p>
</div>

